@use './mixins' as *;
@use './variables' as *;

@import url('https://fonts.googleapis.com/css?family=Arvo:700|Arvo:400');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    background-color: $background;
    display: block;
}

body {
  font-family: 'Arvo';
  font-weight: 400;
  background-color: $background
}

h1, h2, h3, h4, h5 {
  font-family: 'Arvo';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

a {
    &:hover {
        cursor: pointer;
    }

    &:link,
    &:visited {
        text-decoration: none;
    }
}